.footer {
    margin: 20px;
    padding: 20px;
    height: 300px;
    border-top: 1px solid rgb(255, 255, 255);
    display: flex;
    justify-content: space-evenly;
    align-items: end;
}

.social-links a {
    width: 40px;
    height: 40px;
    border: 1px solid var(--neon-blue);
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    transition: all 0.3s ease;
}

.social-links a:hover {
    background: var(--neon-blue);
    color: var(--bg-dark);
}

.footer-bottom {
    margin-top: 50px;
}
