.footer {
    margin: 20px;
    margin-top: 30px;
    padding: 20px;
    /* height: ; */
    border-top: 1px solid rgb(255, 255, 255);

.our-links li {
    list-style: none;
    align-items: start;
    
}

.social-links a:hover {
    background: var(--neon-blue);
    color: var(--bg-dark);
}

.footer-bottom {
    margin-top: 50px;
}


@media  screen and (min-width: 480) {
    
        
    }

    
}