.trusted-section {
    height: 400px;
    background-image: url("../images/trusted-bg.avif");
    background-image: -moz-linear-gradient(to bottom, rgba(200, 100, 100, 0.2), #000);
    background-size: cover;
    color: white;
    padding: 40px 20px;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
    margin: 20px;
}

.trusted-text {
    font-size: 36px;
    margin: 20px;
    color: #bbbbbb;
}

.brand-logos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    margin: 50px;
}

.brand-logos img {
    height: 40px;
    opacity: 0.6;
    transition: opacity 0.3s ease-in-out;
}

.brand-logos img:hover {
    opacity: 1;
}

.stats {
    display: flex;
    justify-content: space-evenly;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.stat-box h2 {
    font-size: 32px;
    font-weight: bold;
}

.stat-box p {
    font-size: 14px;
    color: #888888;
    text-transform: uppercase;
}

@media  (min-width: 480) {
    .stats {
        display: flex;
        justify-content: center;
        height: 600px;
    }
    
}
